name: Selenium Python CI
on: [push, pull_request]

jobs:
   test:
      runs-on: ubuntu-latest

      steps:
        - name: Checkout
          uses: actions/checkout@v3
        - name: Set up Python
          uses: actions/setup-python@v4
          with:
            python-version: '3.14'

        - name: Install dependencies
          run: |
            python -m pip install --upgrade pip
            pip install -r requirements.txt
        - name: Run tests
          env:
            DISPLAY: 99
          run: |
            sudo apt-get install -y xvfb
            Xvfb: 99 & python -m pytest tests/